/* reset global */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font face */

@font-face {
    font-family: 'robotolight';
    src: url('font/Roboto-Light-webfont.eot');
    src: url('font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Light-webfont.ttf') format('truetype'),
         url('font/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto-Regular-webfont.eot');
    src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*General*/

body{
	background-image: url("img/graphy.png");
	background-color: none;
}

h1{
	color: #424242;
	font-family: 'robotolight', Arial, Sans-serif;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 3px;
	font-weight: normal;
	text-align: center;
	margin: 5% 5% 0;
}

p{
	color: #424242;
	font-family: 'robotoregular', Arial, Sans-serif;
	line-height:100%;
	margin:0;
    font-size: 13px;
    line-height: 22px;
}

a{
	color: 	#b22222;
	font-family: 'robotoregular', Arial, Sans-serif;
	line-height:100%;
	margin:0;
    font-size: 13px;
    line-height: 22px;
}

/*Header*/

header{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.cabecera{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 240px;
	width: 640px;
}

/*Section*/

section{
	display: inline block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	width: 500px;
}

.boton{
	background-color: rgba(0,0,0,0.60);
	height: 40px;
	margin: 20px;
}

img.icono{
	height: 20px;
}


/*Footer*/

footer{
	width: 500px;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.pie{
	width: inherit;
}