/* reset global */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font face */

@font-face {
    font-family: 'robotolight';
    src: url('font/Roboto-Light-webfont.eot');
    src: url('font/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Light-webfont.ttf') format('truetype'),
         url('font/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('font/Roboto-Regular-webfont.eot');
    src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Roboto-Regular-webfont.ttf') format('truetype'),
         url('font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-----------------IMAC-------------------*/

/*General*/

body{
	background-image: url("img/graphy.png");
	background-color: none;
}

h1{
	color: #424242;
	font-family: 'robotolight', Arial, Sans-serif;
	font-size: 30px;
	line-height: 30px;
	letter-spacing: 9px;
	font-weight: normal;
	text-align: center;
	margin: 5% 5% 0;
}

p{
	color: #424242;
	font-family: 'robotoregular', Arial, Sans-serif;
	line-height:100%;
	margin:0;
    font-size: 13px;
    line-height: 22px;
}

a{
	color: #b32222;
	font-family: 'robotoregular', Arial, Sans-serif;
	line-height:100%;
    font-size: 13px;
    line-height: 22px;
}

a:link    {color: white;}
a:visited {color: white;}
a:hover   {color: white;}
a:active  {color: white;}

/*Header*/

header{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11%;
	width: 630px;
}

/*Contenedor*/

.navegacion{
	width: 630px;
    margin: auto;
}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	margin: 50px auto;
	width: 635px;
	}
	
nav li {
	float:left;
	width:317px;
	}
	
nav a:link,a:visited{
	display:block;
	color: white;
	background-color:#424242;
	opacity: 0.4;
	text-align:center;
	padding:4px;
	text-decoration:none;
	}

nav a:hover,a:active{
	background-color:#b22222;
	opacity: 1;
	}


/*Footer*/

footer{
	width: 350px;
	display: block;
	margin: 80px auto 40px;

}

footer p{
	margin-bottom: 10px;
	text-align: center;
}

img.pie{
	width: 350px;
	margin-bottom: 80px;
}

a.pie,a:link.pie,a:visited.pie{
	display: block;
	text-align: center;
	color: #b22222;
}

																			/*---------- NOTEBOOK --------------*/

@media screen and (min-width: 1000px) and (max-width: 1450px){
	
	/*Tipografía*/
	
	h1{
		font-size: 25px;
		line-height: 30px;
		letter-spacing: 7px;
	}
	
	/*Header*/
	
	header img{
		margin-top: 15%;
	}

	/*Footer*/
		
	img.pie{
		margin-bottom: 40px;
	}
	
}
	
																		/* ----------------- TABLET -----------*/


@media screen and (min-width: 765px) and (max-width: 1000px){

		/*Tipografía*/
	
	h1{
		font-size: 25px;
		letter-spacing: 7px;
	}

	/*Contenedor*/
	
	header img{
		margin-top: 35%;
		margin-bottom: 80px;
		width: 500px;
	}
	
	nav ul{
		margin: 80px auto;
		width: 500px;
		}
		
	nav li {
		width:250px;
		}
		
	/*Footer*/
	
	footer{
		width: 300px;
	}
	
	footer p{
		font-size: 11px;
	}
	
	img.pie{
		width: 300px;
		margin-bottom: 80px;
	}
	
	footer a{
		font-size: 11px;
	}
}

																				/*----------------- MÓVIL -----------------*/
@media screen and (min-width: 320px) and (max-width: 764px){

	/*Tipografía*/
	
	h1{
		font-size: 20px;
		letter-spacing: 4px;
	}
	
	header img{
		margin-top: 45%;
		margin-bottom: 5%;
		width: 280px;
	}
	
	p{
	    font-size: 12px;
	}
	
	a{
	    font-size: 14px;
	}
	
	/*Contenedor*/
	
	.navegacion{
		width: 280px;
	}
	
	nav ul{
		margin: 50px auto;
		width: 280px;
		}
		
	nav li {
		width: 280px;
		margin: 10px;
		}
		
	nav a:link,a:visited{
		padding:10px;
		}	
	
	/*Footer*/
	
	footer{
		width: 280px;
	}
	
	footer p{
		margin-right: 40px;
		font-size: 12px;
		text-align: left;
	}
	
	img.pie{
		width: 280px;
	}
}